@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --altura-header: 70px;

    --cor-primaria: #0B3D67; 
    --cor-secundaria: #1E6FB5;    
    --cor-cta: #F5A623;           /* Amarelo CTA (Botões de Ação) */
    --cor-detalhe: #4FC3F7;

    --cor-branca: #FFFFFF;        /* Texto claro e fundos de cards */
    --cor-texto-escuro: #1A1A1A;  /* Texto principal em fundos claros */
    --cor-fundo-leve: #F4F7F9;    /* Fundo de secções secundárias */

    /* Espaçamentos Padronizados */
    --espaco-sm: 8px;             /* Espaçamento pequeno (Gaps / Padding interno) */
    --espaco-md: 16px;            /* Espaçamento médio (Margens / Padding padrão) */
    --espaco-lg: 32px;            /* Espaçamento grande (Containers / Secções) */

    /* Arredondamento de Bordas */
    --raio-borda: 8px;            /* Border-radius para cards, botões e inputs */
}

body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--cor-primaria);
    padding: var(--espaco-sm) var(--espaco-md);
    z-index: 1000;
}

.main-header .nav-menu {
    display: none;
}

.hero-section {
  padding-top: calc(var(--altura-header) + var(--espaco-md));
}

.hamburguer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: transparent;
    border: 1px solid var(--cor-branca);
    border-radius: var(--raio-borda);
    padding: var(--espaco-sm);
    cursor: pointer;
}

.hamburguer:hover {
    background-color: var(--cor-secundaria);
}

.hamburguer-bar {
    display: block;
    width: 24px;
    height: 3px;
    background-color: var(--cor-branca);
    border-radius: var(--raio-borda);
}

.logo a {
    font-weight: bold;
    color: var(--cor-branca);
    font-size: 1.5rem;
    text-decoration: none;
}

.logo a span {
    color: var(--cor-cta);
}

.btn-header {
    background-color: var(--cor-cta);
    color: var(--cor-branca);
    border: none;
    padding: var(--espaco-sm) var(--espaco-md);
    border-radius: var(--raio-borda);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-header:hover {
    font-weight: 600;
}
